/* Colours */
/* #282c34 */
/* #33373e */
/* #5cb9d3 light blue */
/* #9986ca lighter purple */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #33373e;
  /* background-color: #282c34; */
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 1rem 6rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555555;
  color: #ffffff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666
}
